<!DOCTYPE html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.min.js"></script>
    <!-- sbb CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Hello, sbb!</title>

    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>

<header>
    <a href="/">메인</a>
    <a href="/article/list">게시물 리스트</a>
    <a th:if="${@rq.logined}" href="/article/create">게시물 작성</a>
    <a th:if="${@rq.logout}"  href="/member/login">로그인</a>
    <a th:if="${@rq.logined}"  href="/member/logout">로그아웃</a>
    <a th:if="${@rq.logined}"  href="/member/mypage">[[${@rq.loginedMember.name}]]님의 마이페이지</a>
</header>

<main layout:fragment="main">

</main>

<footer>
</footer>

</body>
</html>